/* Start Global Rules */
@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@300;400;600;700;800&family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital@0;1&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&family=Russo+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  height: 300vh;
}

:root {
  --main-color: #3b71fe;
  --hover-color: rgba(59, 114, 254, 0.8);
  --very-light-blue: rgb(216, 218, 253);
  --gray1-color: rgb(255 255 255 / 50%);
  --white: #ffffff;
  --black-color: black;
  --title-color: #2f4145;
  --main-transition: 0.2s ease-in-out;
  --green-color: #40916c;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

.container {
  padding: 7rem 9%;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:hover {
  text-decoration: none;
}

.btn {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.3rem;
  outline: none;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all var(--main-transition);
}

.heading span {
  font-size: 3rem;
  text-transform: uppercase;
  background: var(--hover-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* End Global Rules */
/* Start header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem 5%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__img {
  width: 60px;
  margin-right: 0.5rem;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--title-color);
}

.navbar__links a {
  color: var(--black-color);
  font-size: 1.2rem;
  transition: var(--main-transition);
}

.navbar__links a:hover {
  color: var(--main-color);
}

.header__icons {
  display: flex;
}

.header__icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--main-transition);
}
.header__icons i:first-child {
  margin-right: 1rem;
}

.search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #eeedff;
  padding: 1rem;
  border-top: 1px solid #666;
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(15% 0px, 85.5% 0px, 100% 0px, 0px 0px);
  transition: clip-path 0.7s ease-in-out;
}

.active {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.search-bar-container input {
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.1rem;
}

.search-bar-container img {
  margin-left: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

/* End header  */
/* Start login form container */

.login-form-container {
  position: fixed;
  top: -1000px;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.7s ease-in-out;
}

.login-form-container form {
  position: relative;
  background: #fff;
  width: 30rem;
  border-radius: 0.3rem;
  padding: 1rem;
}

.login-form-container form h3 {
  color: #606060;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.login-form-container form .box {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  color: #333;
}

.login-form-container .btn:hover {
  background-color: var(--hover-color);
}

.login-form-container form .box:first-of-type {
  margin-bottom: 0.8rem;
}

.login-form-container form .box:nth-of-type(2) {
  margin-bottom: 1rem;
}

.login-form-container form .box:focus {
  border-color: var(--main-color);
}

.login-form-container .btn {
  background-color: var(--main-color);
  width: 100%;
  padding: 0.7rem;
  border-color: var(--main-color);
}

.login-form-container #remember {
  margin-bottom: 1rem;
}

.login-form-container p {
  color: #666;
  margin: 0.5rem 0;
}

.login-form-container a {
  color: var(--main-color);
  transition: var(--main-transition);
}

.login-form-container a:hover {
  color: #333;
  text-decoration: underline;
}

#form-close {
  position: absolute;
  right: 1.3rem;
  top: 1.5rem;
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

#menu-bar {
  color: var(--black-color);
  border: 0.1rem solid var(--black-color);
  border-radius: 0.4rem;
  padding: 0.3rem 0.7rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.active-menu {
  clip-path: polygon(100% 100%, 100% 0px, 0px 0px, 0px 100%);
}

/* End login form container */
/* Start Home Section  */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.home__title {
  font-size: 5rem;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  line-height: 0.8;
  margin-bottom: 1rem;
}

.home__title span {
  font-family: "Yellowtail", cursive;
  color: #0077b6;
}

.home__text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #dcdcdc;
  margin-bottom: 3rem;
}

.home .btn {
  padding: 0.6rem 2rem;
  font-weight: bold;
  background-color: var(--green-color);
  border-color: var(--green-color);
}

.home .btn:hover {
  background-color: rgba(5, 128, 77, 0.401);
}

.home__videos video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

.home__controls {
  display: flex;
  align-items: center;
  position: relative;
  top: 8rem;
}

.home__controls svg {
  width: 4rem;
  fill: white;
  cursor: pointer;
  transition: var(--main-transition);
}

.home__controls .prev:hover {
  transform: translateX(-5px);
}

.home__controls .next:hover {
  transform: translateX(5px);
}

.big-text {
  margin-inline: 1.2rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

video.live {
  opacity: 1;
}

/* End Home Section  */
/* Start Book Section  */
.heading {
  text-align: center;
}

.heading span.space {
  background: none;
}

.book .row {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.row div {
  flex: 50%;
  width: 100%;
}

.book__row--image img {
  display: block;
  max-width: 100%;
}

.book__row--form {
  padding: 1rem;
  box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.1);
  border-radius: 0.3rem;
}

.row h3 {
  color: #666;
  margin-bottom: 0.6rem;
}

.book__row--form .inputBox input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c8c8c8;
  outline: none;
  color: #333;
  margin-bottom: 1rem;
}

.book .row .btn {
  width: fit-content;
  background: var(--main-color);
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
}

.book .row .btn:hover {
  background-color: var(--hover-color);
}

/* End Book Section  */

/* Start packages section  */
.packages {
  background-color: #f7f8fa;
}

.packages__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.packages__parent .box {
  background: var(--white);
  border-radius: 0.9375rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.packages__box--image {
  overflow: hidden;
  flex-basis: 60%;
}

.packages__box--content-item {
  flex-basis: 40%;
}


.packages__box--image img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.9375rem 0.9375rem 0 0;
  transition: var(--main-transition);
}

.packages__box--image img:hover {
  transform: scale(1.1);
}

.packages__box--content-item {
  padding: 1.25rem;
  line-height: 1.5;
}

.packages__box--content-item i {
  color: #ffb21d;
}

.packages__box--content-item h4 {
  font-size: 1.6rem;
}

.packages__box--content-item h4 i {
  padding-right: 0.5rem;
  font-size: 1.3rem;
}

.packages__box--content-item p {
  color: gray;
  margin-block: 0.5rem;
}

.reviews .rate {
  font-weight: bold;
}

.price {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.price span {
  text-decoration: line-through;
  color: gray;
  font-size: 1rem;
}

.packages__parent .btn {
  background-color: var(--main-color);
  padding: 0.5rem 1.5rem;
}

.packages__parent .btn:hover {
  background-color: var(--hover-color);
}

/* End packages section  */
/* Start destination section */
.destination__parent {
  display: flex;
  box-shadow: 0 50px 100px 0px rgb(128 128 128 / 30%);
}
.destimation__content {
  width: 60%;
  padding: 4rem 3rem 3rem 3rem;
}

.destimation__content h2 {
  font-size: 5rem;
}

.destimation__content h3 {
  font-size: 2rem;
  margin-block: 2rem;
}

.destimation__content p {
  color: #666666;
  line-height: 2;
  margin-bottom: 4rem;
}

.destimation__content .btn {
  border: 2px solid black;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: var(--main-transition);
}

.destimation__content .btn:hover {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.destimation__image {
  width: 40%;
  position: relative;
  background-image: url(/images/egybt1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.destimation__image img {
  max-width: 100%;
  width: 300px;
  clip-path: polygon(50% 0%, 0 70%, 100% 70%);
  position: absolute;

  bottom: -6rem;
  left: -84px;
}

/* End destination section */
/* Start Footer */
footer {
  background-color: #f7f8fa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer__col {
  line-height: 2;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col--company,
.footer__col--resources,
.footer__col--support {
  display: flex;
  flex-direction: column;
}

.footer__col h3 {
  margin-bottom: 1rem;
}
.footer__col a {
  color: #666666;
}

.footer__col--social a i {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  line-height: 2.3;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: var(--main-transition);
}

.fa-facebook-f {
  background: rgb(0, 125, 198);
}

.fa-facebook-f:hover {
  background: rgb(26, 141, 208);
}

.fa-twitter {
  background: rgb(29, 161, 242);
}

.fa-twitter:hover {
  background-color: rgb(88, 177, 247);
}

.fa-instagram {
  background: rgb(225, 48, 108);
}

.fa-instagram:hover {
  background: rgb(217, 73, 140);
}

.fa-pinterest-p {
  background: hwb(351 0% 10%);
}
.fa-pinterest-p:hover {
  background: rgb(246, 45, 58);
}

/* End Footer */
/*Stert Media Query */
/*  1199px */
@media (max-width: 1199px) {
  .container {
    padding: 7rem 5%;
  }
  #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.7s var(--main-transition);
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
  }

  header .navbar.active-menu {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }

  .navbar__links a {
    display: block;
    background-color: var(--white);
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
  }
/* packges */
  .packages__parent {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1199px */
@media (min-width: 1199px) {
  .navbar__links a:not(:last-child) {
    margin-right: 10px;
  }

  .header__icons i {
    width: 44px;
    height: 44px;
    background: var(--white);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    border-radius: 50%;
    border: 1px solid #dedede;
  }

  .home {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home__controls {
    top: 0;
  }
}

/* 767px */
@media (max-width: 767px) {
  .header__img {
    width: 50px;
  }

  .login-form-container form {
    width: calc(100% - 3rem);
  }

  /* Book */
  .book .row {
    flex-direction: column;
  }

  .heading span {
    font-size: 2rem;
  }
  /* packages */
  .packages__parent {
    grid-template-columns: 1fr;
  }

  /* destination */
  .destination__parent {
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .destimation__content {
    padding: 0;
    width: 100%;
  }

  .destimation__image {
    align-self: center;
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
  }
  .destimation__image img {
    width: 160px;
    bottom: -4rem;
    left: -43px;
  }

  /* footer */
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 600px */
@media (max-width: 600px) {
  html {
    font-size: 73%;
  }
  /* home */
  .home__title {
    font-size: 3.5rem;
  }
  .home__text {
    font-size: 1.2rem;
  }
  .heading span {
    font-size: 1.5rem;
  }
}

/* //480 */
@media (max-width: 480px) {
  .heading span {
    font-size: 1.4rem;
  }
}

/*End Media Query */
